$img: '../../assets/images';
.informationDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  background: url($img +'/zixun/bg2.png')no-repeat top center/100%;
  .titleBox {
    width: 3.55rem;
    padding: 0.2rem 0.15rem 0.15rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
    h1 {
      width: 100%;
      line-height: 0.24rem;color:rgba(51,51,51,1);
      font-size: 0.18rem;
      text-align: left;
      font-family: PingFangSC-Regular;
    }
    .timeBox {
      width: 100%;
      margin-top: 0.1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      i {
        display: block;
        width: 0.12rem;
        height: 0.12rem;
        margin-right: 0.05rem;
        background: url($img +'/zixun/time.png')no-repeat center/100%;
      }
      span {
        line-height: 0.1rem;
        color: rgba(205, 207, 207, 1);
        font-size: 0.1rem;
        text-align: left;
        font-family: PingFangSC-Regular;
      }
    }
  }
  .textBox {
    width: 3.35rem;
    margin-top: 0.2rem;
    p {
      width: 100%;
      line-height: .22rem;
      color: rgba(153, 153, 153, 1);
      font-size: .12rem;
      text-align: left;
      font-family: PingFang-SC-Medium;
      margin-bottom: .2rem;
    }
  }
}
