.informationDetails{
    width: 100%;
    .container{
        width: 1200px;
        margin: 0 auto 0;
        padding-top: 27px;
    }
    .goback{
        height: 25px;
        line-height: 25px;
        color: rgba(91, 121, 255, 1);
        font-size: 16px;
        text-align: left;
        font-family: PingFangSC-Regular;
    }
    .content{
        width: 100%;
        padding: 28px 53px 15px 53px;
        background: #ffffff;
        margin-top: 18px;
    }
    h1{
        line-height: 40px;
        color: rgba(0, 0, 0, 1);
        font-size: 28px;
        text-align: left;
        font-family: PingFang-SC-Medium;
    }
    .timeBox{
        margin-top: 20px;
        display: flex;
        align-items: center;
        i{
            display: block;
            width: 17px;
            height: 15px;
        }
        span{
            height: 25px;
            color: rgba(155, 155, 155, 1);
            font-size: 18px;
            text-align: left;
            font-family: PingFang-SC-Medium;
        }
    }
    .line{
        width: 100%;
        height: 1px;
        margin-top: 32px;
        border: 1px solid rgba(202, 202, 202, 1);
    }
    img{
        display: block;
        width: 894px;
        margin: 20px 0 0 153px;
    }
    p{
        width: 100%;
        line-height: 25px;
        color: rgba(153, 153, 153, 1);
        font-size: 16px;
        text-align: left;
        font-family: PingFangSC-Regular;
    }
}