$img: '../../../assets/images';
.CashRegister{
    width: 100%;
    padding-top: 3.62rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url($img +'/chanpin/chanpin3_1.png') no-repeat top center/100%;
    .model{
        width: 3.55rem;
        margin-bottom: .15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .22rem 0 .3rem;
        background: #fff;
        border-radius: .04rem;
        h1{
            width: 100%;
            line-height: .24rem;
            color: rgba(91, 121, 255, 1);
            font-size: .2rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            position: relative;
            &::after{
                content: '';
                width: .18rem;
                height: .02rem solid #5B79FF;
                position: absolute;
                bottom: -.09rem;
                left: 50%;
                margin-left: -.09rem;
            }
        }
        h6{
            width: 100%;
            line-height: .24rem;
            color: rgba(51, 51, 51, 1);
            font-size: .14rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            margin-top: .19rem;
        }
        img{
            display: block;
            width: 100%;
            margin-top: .27rem;
        }
    }
    .model1{
        img{
            width: 2.77rem;
        }
    }
    .model2{
        img{
            width: 3.55rem;
        }
    }
    .model3{
        img{
            width: 3.03rem;
        }
    }
    .model4{
        img{
            width: 3.55rem;
        }
    }
}