$img: '../../../assets/images';
.CashRegisterPluginWarpper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.62rem;
    background: url($img +'/chanpin/chanpin4_1.png')no-repeat top center/100%;
    .model{
        width: 3.55rem;
        padding: .2rem 0 .16rem 0;
        margin-bottom: .15rem;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border-radius: .04rem;
        align-items: center;
        h1{
            width: 100%;
            line-height: .24rem;
            color: rgba(91, 121, 255, 1);
            font-size: .2rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            position: relative;
            &:after{
                width: .18rem;
                height: .02rem;
                background: #5B79FF;
                content: '';
                position: absolute;
                bottom: -.09rem;
                left: 50%;
                margin-left: -.09rem;
            }
        }
        h6{
            width: 3.24rem;
            line-height: 24px;
            color: rgba(51, 51, 51, 1);
            font-size: .14rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            margin-top: .19rem;
        }
        img{
            display: block;
            margin-top: .15rem;
        }
    }
    .model1{
        .img1{
            width: 2.15rem;
            margin-top: .1rem;
        }
        .img2{
            width: 1.31rem;
            margin-top: .1rem;
        }
    }
    .model2{
        padding-bottom: .5rem;
        img{
            width: 3.43rem;
            margin-top: .46rem;
        }
    }
    .model3{
        padding-bottom: .5rem;
        img{
            width: 3.27rem;
            margin-top: .38rem;
        }
    }
}