$img: '../images';
.aboutWarpper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.63rem;
    background: url($img +'/about/bg.png') no-repeat top center/100%;
    
}