$img: '../images';
.caseWarpper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.32rem;
  background: url($img +'/anli/bg.png')no-repeat top center/100%;
  .jmBtn {
    width: 0.84rem;
    height: 0.36rem;
    background: #fff;
    border: 0.04rem;
    text-align: center;
    line-height: 0.36rem;
    color: rgba(91, 121, 255, 1);
    font-size: 0.14rem;
    font-family: Avenir-Book;
    margin-bottom: 1.3rem;
    border-radius: .04rem;
  }
  ul {
    width: 3.55rem;
  }
  li {
    width: 100%;
    padding: 0 0 0.15rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.15rem;
    background: #ffffff;
    img {
      display: block;
      width: 100%;
    }
    .userInfo{
      width: 3.25rem;
      margin: .25rem auto 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h1 {
      width: 3.25rem;
      line-height: 0.24rem;
      color: rgba(51, 51, 51, 1);
      font-size: 0.18rem;
      text-align: left;
      font-family: PingFangSC-Regular;
    }
    h6 {
      width: 3.25rem;
      line-height: 0.24rem;
      color: rgba(153, 153, 153, 1);
      font-size: 0.12rem;
      text-align: left;
      font-family: PingFangSC-Regular;
      margin-top: 0.1rem;
    }
    .timeBox {
      width: 3.25rem;
      margin-top: 0.17rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      i {
        display: block;
        width: 0.12rem;
        height: 0.12rem;
        margin-right: 0.05rem;
        background: url($img +'/anli/time.png')no-repeat center/100%;
      }
      span {
        line-height: .1rem;
        color: rgba(205, 207, 207, 1);
        font-size: .1rem;
        text-align: left;
        font-family: PingFangSC-Regular;
      }
    }
  }
}
