body,dd,dl,form,h1,h2,h3,h4,h5,h6,ol,p,ul {margin: 0}
body,button,input,select,textarea {font-family: "Microsoft YaHei";}
h1,h2,h3,h4,h5,h6 {font-size: 100%}
b,em { font-style: normal}
a {text-decoration: none !important;outline: 0}
a:hover {text-decoration: underline}
img { border: 0}
button,input,select,textarea {font-size: 100%; outline: 0}
table {border-collapse: collapse;border-spacing: 0}
ol,td,th,ul {padding: 0}
dl,ol,ul {list-style: none}
.clear{clear: both;}
body {min-width: 1200px;width: 100%;background: #f0f0f2;}
*{box-sizing: border-box;font-weight: normal;outline: none;}
html{padding-top: 142px;}
