$img : '../images';
.homeWarpper{
    width: 100%;
    // .swiperBox{
    //     width: 100%;
    //     height: 4.83rem;
    //     .swiper-container ,.swiper-wrapper,.swiper-slide{
    //         width: 100%!important;
    //         height: 100%;
    //     }  
    //     .swiper-pagination{
    //         width: 100%;
    //         position: absolute;
    //         left: 0;
    //         bottom: .2rem;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //     }
    //     img{
    //         display: block;
    //         width: 100%;
    //         height: 100%;
    //     }
    //     .swiper-pagination-bullet{
    //         width: .06rem;
    //         height: .06rem;
    //         border-radius: .04rem;
    //         margin: 0 .05rem;
    //         background-color: rgb(221,221,221);
    //         opacity: 1;
    //     }
    //     .swiper-pagination-bullet-active{
    //         width: .23rem;
    //         height: .04rem;
    //         background-color:rgba(91,121,255,1);
    //     }
    // }
    .content{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .model{
            width: 100%;
            background: #ffffff;
            margin: 0 0 .15rem 0;
            padding: .3rem 0 .35rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1{
            width: 3.35rem;
            line-height: .24rem;
            color: rgba(91, 121, 255, 1);
            font-size: .2rem;
            text-align: center;
            font-family: PingFangSC-Regular;
        }
        h2{
            width: 3.35rem;
            line-height: .2rem;
            color: rgba(51, 51, 51, 1);
            font-size: .2rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            margin-top: .1rem;
        }
        h6{
            width: 3.35rem;
            line-height: .24rem;
            color: rgba(51, 51, 51, 1);
            font-size: .14rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            margin-top: .15rem;
        }
        img{
            width: 2.6rem;
            display: block;
            margin-top: .2rem;
        }
    }
    
    .QuestionsAnswers{
        width: 100%;
        padding-top: .35rem;
        padding-bottom: .3rem;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url($img +"/home/homeImg5.png")no-repeat top center/100%;
        h1{
            width: 100%;
            line-height: .2rem;
            color: rgba(255, 255, 255, 1);
            font-size: .2rem;
            text-align: center;
            font-family: PingFangSC-Regular;
        }
        .tabBox{
            width: 3.35rem;
            margin-top: .39rem;
            height: 3.54rem;
            border-radius: .04rem;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0px .02rem .24rem 0px rgba(170, 170, 170, 0.29);
        }
        .title{
            width: 100%;
            height: .5rem;
            border-radius: .02rem;
            background-color: rgba(91, 121, 255, 1);
            display: flex;
            padding: 0 .15rem 0;
            p{
                height: .5rem;
                line-height: .5rem;
                color: rgba(255, 255, 255, 1);
                font-size: .2rem;
                font-family: PingFang-SC-Medium;
            }
        }
        .tabContent{
            width: 100%;
            height: 3.04rem;
            .left{
                width: 100%;
                height: .6rem;
                border-bottom: .02rem solid #CACACA;
            }
            li{
                display: inline-block;
                width: 50%;
                height: 100%;
                position: relative;
                cursor: pointer;
                align-items: center;
                p{
                    width: 100%;
                    height: 100%;
                    line-height: .6rem;
                    color: rgba(0, 0, 0, 1);
                    font-size: .14rem;
                    text-align: center;
                    font-family: PingFang-SC-Regular;
                }
                i{
                    width: .6rem;
                    height: .05rem;
                    border-radius: .02rem;
                    background-color: #5B79FF;
                    position: absolute;
                    left: 50%;
                    margin-left: -.3rem;
                    bottom: -.05rem;
                    display: none;
                }
            }
            li.active{
                p{
                    color: rgba(91, 121, 255, 1);
                }
                i{
                    display: block;
                }
            }
            .right{
                width: 100%;
            }
            .item{
                display: none;   
                width: 100%;
                height: 100%;  
                padding-top: .58rem;
                flex-direction: column;
                align-items: center;
            }
            h2{
                width: 2.85rem;
                color: rgba(153, 153, 153, 1);
                font-size: .14rem;
                text-align: center;
                font-family: PingFang-SC-Medium;
                margin-top: .51rem;
            }
            img{
                display: block;
                width: 3.15rem;
                height: .62rem;
                margin: 0 auto;
            }
            .item.active{
                display: flex;
            }
        }
        
    }
    
}
