$img: "../images";
.JoinInWarpper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.32rem;
  background: #fafafa url($img+"/anli/bg.png") no-repeat top center/100%;
  .jmBtn {
    width: 0.84rem;
    height: 0.36rem;
    background: #fff;
    border: 0.04rem;
    text-align: center;
    line-height: 0.36rem;
    color: rgba(91, 121, 255, 1);
    font-size: 0.14rem;
    font-family: Avenir-Book;
    margin-bottom: 1.3rem;
    border-radius: 0.04rem;
  }
  .model {
    width: 100%;
    margin-bottom: 0.15rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.23rem 0 0.4rem;
    h1 {
      width: 100%;
      line-height: 0.24rem;
      color: rgba(91, 121, 255, 1);
      font-size: 0.2rem;
      text-align: center;
      font-family: PingFangSC-Regular;
    }
    .swiperBox {
      width: 100%;
      height: 2.07rem;
      .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-wrapper {
        align-items: center;
      }
      .swiper-slide {
        width: 1.51rem !important;
        height: 2.07rem;
        padding: 0.12rem 0.1rem !important;
        .contentBox {
          width: 100%;
          height: 100%;
          padding: 0.38rem 0.06rem 0.1rem;
          background: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-shadow:0px .07rem .26rem 0px rgba(188,188,188,0.57);
        }
        img {
          display: block;
          width: 0.6rem;
          height: 0.6rem;
        }
        h2 {
          width: 100%;
          font-size: 0.14rem;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 0.25rem;
          margin-top: 0.08rem;
          display: none;
          text-align: center;
        }
        h3 {
          margin-top: 0.12rem;
          width: 100%;
          font-size: .20rem;
          font-family: PingFang-SC-Medium, PingFang-SC;
          font-weight: 500;
          color: rgba(0, 0, 0, 1);
          line-height: .28rem;
          text-align: center;
        }
      }

      .swiper-slide-active,
      .swiper-slide-duplicate-active {
        // width: 1.51rem !important;
        // height: 2.07rem;
        // margin: 0 0.2rem;
        padding: 0 0.1rem !important;
        .contentBox{
          padding-top: .34rem;
          border-bottom: 7px solid rgba(91, 121, 255, 1);
        }
        h2{
          display: block;
        }
        h3{
          margin-top: .05rem;
        }
      }
    }
  }
  .model1{
    padding: .3rem 0 .5rem;
    background: #fafafa;
  }
  .model2 {
    padding: .23rem 0 0 0;
    img {
      width: 3.15rem;
      height: 3.18rem;
      margin-top: .15rem;
    }
    .textBox{
      width: 100%;
      height: 1.45rem;
      margin-top: -.85rem;
      padding: .2rem .34rem .1rem;
      background: #fff;
    }
    h2 {
      width: 3.05rem;
      line-height: 0.24rem;
      color: rgba(91, 121, 255, 1);
      font-size: 0.2rem;
      text-align: left;
      font-family: PingFangSC-Regular;
      position: relative;
      margin-bottom: .26rem;
      &:after {
        content: "";
        width: 0.18rem;
        height: 0.02rem;
        background: #5b79ff;
        position: absolute;
        bottom: -0.12rem;
        left: 0;
      }
    }
    h6 {
      width: 3.05rem;
      line-height: 0.24rem;
      color: rgba(153, 153, 153, 1);
      font-size: 0.14rem;
      text-align: left;
      font-family: PingFangSC-Regular;
    }
    ul {
      width: 100%;
      height: 0.5rem;
      background: #5b79ff;
      margin-top: 0.1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        height: 100%;
        line-height: 0.5rem;
        color: #fff;
        font-size: 0.16rem;
        position: relative;
        &.active {
          line-height: 0.4rem;
          font-size: 0.2rem;
          &:after {
            content: "";
            width: 0.18rem;
            height: 0.03rem;
            background: #fff;
            position: absolute;
            bottom: 0.1rem;
            left: 50%;
            margin-left: -0.09rem;
          }
        }
      }
    }
  }
}
