$img: '../images';
.productWarpper{
    width: 100%;
    background: #FFFAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    .swiperBox{
        margin-bottom: .3rem;
    }
    .model{
        width: 100%;
        height: 4.85rem;
        position: relative;
        margin-bottom: .15rem;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .btnBox{
        width: 3.12rem;
        height: .56rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: .1rem;
        left: 50%;
        margin-left: -(3.12/2)+ rem;
        .btn{
            display: block;
            width: 1.33rem;
            height: .56rem;
            &:nth-child(1){
                background: url($img +'/chanpin/iosDownLoad.png')no-repeat center/100%;
            }
            &:nth-child(2){
                background: url($img +'/chanpin/androidDownLoad.png')no-repeat center/100%;
            }
        }
    
    }
    .model:last-child{
        margin-bottom: .3rem;
    }
    .model1{
        a{
            height: 4rem;
        }
    }
}

